body{ margin: 0; 
      background-color: #f0f2f3; 
      font-family: Roboto, serif;
}
header{ background-color: black; 
        color: white; 
        height: 35px; 
        line-height: 20px;
        font-size: 20px;
        padding-left: 20px;
}
span{ padding-left: 35px;
}
a{ text-decoration: none;
   font-size: 15px;
   color: white;
   padding-left: 10px;
}
section{ height: calc(100vh - 35px);
         background-image: url(./pexels-photo-583846.jpeg);
         display: flex;
         align-items: center;
         background-repeat: no-repeat;
         background-position: center center;
         background-attachment: fixed;
         background-size: cover;
}
h3{ color: white;
    font-size: 55px;
    padding-left: 150px;
}
@media (max-width: 800px){
       section{ 
         align-items: flex-start;
         justify-content: flex-start;
         display: flex;
         justify-content: center;}
       h3{
         padding-left: 0; 
         text-align: center;}
}
@media (max-width: 1700px){
       section{ 
         align-items: flex-start;
         justify-content: flex-start;
         display: flex;
         justify-content: center;}
       h3{
         padding-left: 0; 
         text-align: center;}
}
@media (max-width: 320px){
       section{ 
         justify-content: flex-start;
         display: flex;
         justify-content: center;
         background-image: url(./pexels-photo-583846.jpg);}
       h3{
         text-align: center;}
}
main{ padding: 0 20px 20px;
}
p{ text-align: justify;
   text-indent: 30px;
}
h2{ text-transform: uppercase; 
    text-align: center;
    color: #252525;
}
.menu{ padding-bottom: 25px;
}
.clear{ clear: both;
}
div > div{ background-color: white; 
           color: #8abbe6;
           height: 40px;
           line-height: 40px;
           width: 21%;
           float: left;
           padding-left: 20px;
           margin: 5px;
           min-width: 255px;
}
div > div:hover{ 
       box-shadow: -1px 6px 16px 1px rgba(5, 5, 5, 0.925);
       transition: all 1s;
       text-decoration: underline;
}
table{ border-collapse: collapse;
       border-radius: 5px;
       background-color: white; 
       width: 100%;
       table-layout: fixed;
       min-width: 800px;
}
.table_scroll{ 
       overflow: scroll;
}
.bottom_line{ 
       border-bottom: solid #868b85 1px;
}
.left_cell{
       padding-left: 15px;
}
.left_cell  div:nth-child(-n+3){
       padding: 5px;
} 
.left_cell div:first-child{ 
       color: #4c96d8; 
       cursor: pointer;
}     
.left_cell div:first-child:hover{ 
       color: #151d3d;
}
.left_cell div:last-child{
       font-size: 15px;
}
.middle_cell div:nth-child(-n+3){
       padding: 5px;
}
.button{
       width: 190px;
       padding-right: 15px;
}
.button div:first-child{ 
         background-color: #a3c644;
         color: white; 
         border-radius: 4px;
         text-align: center;
         font-size: 17px; 
         padding: 7px;
         margin-top: 15px;
         margin-bottom: 8px;
         cursor: pointer; 
}
.button div:first-child:hover{ background-color: #43ca0d;
}
.button div:first-child:active{ background-color: #32970a;
}
.button div:last-child{ 
       border-style: solid;
       border-width: 1px; 
       margin-bottom: 15px; 
       color: #5098d8; 
       border-radius: 4px; 
       font-size: 17px; 
       text-align: center;
       cursor: pointer;
       padding: 7px;
}
.button div:last-child:hover{ background-color: #cbcec9; 
}
.button div:last-child:active{ background-color: #70746f;
}  
div span{ font-weight: bold;
          padding-left: 0;
}