.item{
    display: flex;
    margin-bottom: 50px;
}
@keyframes load{
    
    from{
        transform: translate(5px 50px);
    }
    50%{
        transform: translate(0px, 10px);
    }
    to{
        transform: translate(0px);
    }
}
.spinner, .spinner_1{
    height: 15px;
    width: 15px;
    background-color: #aca3a3;
    border-radius: 50%;
    margin: 5px;
    animation-name: load;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}
.spinner_2{
    animation-delay: 0.3s;
}
.spinner_3{
    animation-delay: 0.6s;
}
.calendar{
    height: 250px;
    width: 250px;
    animation-name: calendar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes calendar{
    from{
       transform: translate3d(50px, 40px, 0px);
       animation-timing-function: ease-in;
    }
    50%{
        transform: translate3d(50px, 50px, 0px);
        animation-timing-function: ease-out;
    }
    to{
        transform: translate(50px, 40px, 0px);
    }
}



    
