body{
    margin: 0;
}
@font-face{
    font-family: BebasNeueRegular;
    src: url(./font/BebasNeueRegular.ttf);
}
@font-face{
    font-family: StMarie;
    src: url(./font/StMarie-Thin.otf);
}
@media (max-width: 700px){
      
}
header{
    display: flex;
    background-color: #e4dede;
    position: fixed;
    width: 100%;
}
header img {
    padding-left: 100px;
}
.logo{
    margin: 20px 40px 20px;
}
.logo div:first-child{
    color: #fb9c06;
    font-size: 27px;
}
.logo div:last-child{
    color: #6e6d6b;
     font-size: 35px;
    font-family: BebasNeueRegular;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding-right: 100px;
    text-align: center;
    color: #9f9c9c;
}
.menu-item {
    height: 48px;
    width: 55px;
    margin: 30px 20px 5px;
    font-family: StMarie;
    background-image: url(./image/sprite.png);}
.home{
     background-position: 0px 94px;
}
.about{
     background-position: 218px 94px;
     height: 48px;
     width: 30px;
}
.work{
    background-position: 730px 94px;
}
.blog{
    background-position: 410px 95px;
}
.contact{
    background-position: 615px 94px;
    height: 48px;
    width: 70px;
}      
section{
    height: 270px;
    background-image: url(./image/big-orange-bg.png);
    display: flex;
    align-items: center;
    background-size: cover;
    border-top: 3px solid #fcba50;
    border-bottom: 3px solid #fcba50;
    font-family: BebasNeueRegular;
    margin-top: 110px;
}
.name-section{
     font-size: 35px;
     height: 40px;
     line-height: 40px;
     padding: 5px 10px;
     margin-left: 100px;
     text-align: center;  
}
 div h3:first-child{
    background-color: #474c4c;
    color: #fb9c06;
}
 div h3:last-child{
    background-color: #fcc759;
    color: #6e6d6b;
}
.conteiner{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
}
.block{
    width: 220px;
    margin: 20px auto;
}
.block div{
    color: #fb9c06;
    text-align: right;
}
h2{
    color: #ff9d03;
    text-align: center;
    padding: 20px 0;
    font-family: StMarie;
}
h2 span{
    border-bottom: 1px solid #fcc759;
}
.conteiner-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 100px;
}
.block-image div:first-child{
    text-align: center;
}
.block-image div:last-child{
    text-align: left;
    padding: 0 20px;
}
.block-image{
    width: 240px;
}
.image{
    height: 220px;
    width: 220px;
    border-radius: 110px;
    border: 6px solid #ff9c00;
    margin: 15px auto;
}
span{
    color: #fb9c06;
}
.information{
    padding: 0 100px;
    color: #fcb544
}
.information-input{
    display: flex;
    align-items: center;
}
.information-input > div:first-child{
    width: 100px;
}
.name{
    margin: 10px;
    border: inset;
    width: 90%;
    vertical-align: middle;
    padding-left: 18px; 
}
button{
    background-color: #fb9c06;
    color: white;
    width: 120px;
    font-size: 20px;
    height: 35px;
    border: outset;
    font-family:  StMarie;
}
.button{  display: flex;
          justify-content: flex-end;
          margin-right: 150px;
}
footer{
    background-color: #fb9c06;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 30px 0 0;
    height: 40px;
    line-height: 40px;
    font-family: StMarie;
    text-transform: uppercase;
}