body{ margin: 0; 
       background-color: #f0f2f3; 
       font-family: Roboto, serif;
}
header{ background-color: black; 
        color: white; 
        height: 35px; 
        line-height: 20px;
        font-size: 20px;
        padding-left: 20px;
}
.header-link{ 
    padding-left: 35px;
}
.link{
    padding-left: 10px;
}
a{ text-decoration: none;
   font-size: 15px;
   color: white;
}
section{ height: calc(100vh - 35px);
         background-image: url(./pexels-photo-583846.jpeg);
         display: flex;
         align-items: center;
         background-repeat: no-repeat;
         background-position: center center;
         background-attachment: fixed;
         background-size: cover;
}
.title_section{ 
    color: white;
    font-size: 55px;
    padding-left: 150px;
}
main{ padding: 0 20px 20px;
}
p{ text-align: justify;
   text-indent: 30px;
}
h2{ text-transform: uppercase; 
    text-align: center;
    color: #252525;
}
.menu{ padding-bottom: 25px;
}
.clear{ clear: both;
}
.menu > div{ background-color: white; 
           color: #8abbe6;
           height: 40px;
           line-height: 40px;
           width: 21%;
           float: left;
           padding-left: 20px;
           margin: 5px;
           min-width: 255px;
}
.menu > div:hover{ box-shadow: -1px 6px 16px 1px rgba(5, 5, 5, 0.925);
                 transition: all 1s;
                 text-decoration: underline;
}
table{ border-collapse: collapse;
       border-radius: 5px;
       background-color: white; 
       width: 100%;
       table-layout: fixed;
       min-width: 800px;
}
.table_scroll{ overflow: scroll;
}
.bottom_line{ border-bottom: solid #868b85 1px;
}
.left_cell  div:nth-child(-n+3){
    padding: 5px 5px 5px 15px;
} 
.left_cell div:first-child{ 
    color: #4c96d8; 
    cursor: pointer;
}     
.left_cell div:first-child:hover{ 
    color: #151d3d;
}
.left_cell div:last-child{
    font-size: 15px;
}
.middle_cell div{
    padding: 5px;
}
.middle_cell div:first-child{
    font-weight: bold;
}
.right_cell{
    width: 190px;
    padding-right: 15px;
}
.button{
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}
.right_cell div:first-child{ 
      background-color: #a3c644;
      color: white; 
      margin-top: 15px;
      margin-bottom: 8px;
}
.right_cell div:first-child:hover{ background-color: #43ca0d;
}
.right_cell div:first-child:active{ background-color: #32970a;
}
.right_cell div:last-child{ 
    border-style: solid;
    border-width: 1px; 
    margin-bottom: 15px; 
    color: #5098d8; 
}
.right_cell div:last-child:hover{ background-color: #cbcec9; 
}
.right_cell div:last-child:active{ background-color: #70746f;
}  
div span{ font-weight: bold;
          padding-left: 0;
}
@media (max-width: 800px){
    section{ 
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
      justify-content: center;}
    .title_section{
       padding-left: 0; 
       text-align: center;}
}
@media (max-width: 320px){
    section{ 
      justify-content: flex-start;
      display: flex;
      justify-content: center;
      background-image: url(./pexels-photo-583846.jpg);}
    .title_section{
      text-align: center;}
}