.button-menu{
    background-color: white; 
    color: #418fcede;
    height: 40px;
    line-height: 40px;
    width: 22%;
    float: left;
    padding-left: 20px;
    margin: 5px;
    min-width: 300px;
}
.button-menu:hover{
box-shadow: -1px 6px 16px 1px rgba(5, 5, 5, 0.925);
transition: all 1s;
text-decoration: underline;
font-size: italic;
}
