.box_green{
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;

}
.box_blue{
    color: white;
    background-color: blue;
  
}
.block_green{
    background-color: green;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    background-size: cover;
    
}


.block_blue{
    color: white;
    background-color: blue;
    margin: 0 auto;
}